<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cars</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <app-car-park-item [carPark]="selectedCarPark" isSelected="true"></app-car-park-item>

  <ion-item class="no-car-park-yet" *ngIf="subscriptions?.length === 0">
    <h2>No car has subscribed yet</h2>
  </ion-item>

  <swiper [config]="configCarousel">
    <div class="swiper-wrapper">
      <app-car-item class="swiper-slide"
                    *ngFor="let car of cars" [car]="car"></app-car-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!--<div class="swiper-button-next" *ngIf="subscriptions?.length > 1"></div>-->
    <!--<div class="swiper-button-prev" *ngIf="subscriptions?.length > 1"></div>-->
  </swiper>

</ion-content>
