
page-login {

  .title {
    font-weight: bold;
  }

  .override-select-height {
    min-height: 6rem;

    .select-text, .select-text {
      align-self: center;
    }

    .select-text, .select-icon {
      align-self: center;
    }
  }

  ion-label > ion-icon {
    margin-right: 5px !important;;
    position: relative !important;;
    top: 3px !important;;
    font-size: 25px !important;;
  }

  .default-input {
    border: solid #5ec3f7 !important;
    border-radius: 10px !important;

    margin-bottom: 20px;
  }

  .label-ios {
    color: #999;
  }

}
