<ion-content padding>

  <h2>Welcome to <span class="title">Car park with a washing system</span></h2>
  <h3>Be clever and save your time</h3>

  <p>Log in or Sign up for free now.</p>

  <form [formGroup]="loginForm" *ngIf="isOnLogin">
    <ion-list>
      <ion-item class="default-input">
        <ion-label><ion-icon name="ios-at-outline"></ion-icon>Email</ion-label>
        <ion-input type="email" formControlName="email"
                   [(ngModel)]="userModel.email"></ion-input>
      </ion-item>
      <ion-item no-lines class="center-input alert alert-danger" *ngIf="loginFormErrors.email">
        {{ loginFormErrors.email }}
      </ion-item>

      <ion-item class="default-input">
        <ion-label><ion-icon name="ios-lock-outline"></ion-icon>Password</ion-label>
        <ion-input type="password" formControlName="password"
                   [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item no-lines class="center-input alert alert-danger" *ngIf="loginFormErrors.password">
        {{ loginFormErrors.password }}
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="signUpForm" *ngIf="!isOnLogin">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input required type="email" formControlName="email"
                 [(ngModel)]="userModel.email"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.email">
      {{ signUpFormErrors.email }}
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input required type="password" formControlName="password"
                 [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.password">
      {{ signUpFormErrors.password }}
    </ion-item>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input required type="password" formControlName="confirmPassword"
                 [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.confirmPassword">
      {{ signUpFormErrors.confirmPassword }}
    </ion-item>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input required type="text" formControlName="name"
                 [(ngModel)]="userModel.name"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.name">
      {{ signUpFormErrors.name }}
    </ion-item>

    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input required type="text" formControlName="address"
                 [(ngModel)]="userModel.address"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.address">
      {{ signUpFormErrors.address }}
    </ion-item>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input required type="text" formControlName="phoneNumber"
                 [(ngModel)]="userModel.phoneNumber"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="signUpFormErrors.phoneNumber">
      {{ signUpFormErrors.phoneNumber }}
    </ion-item>
    <!--Only client can sign up here-->
  </form>

  <form [formGroup]="carForm" *ngIf="!isOnLogin">
    <br>
    <h2 no-lines>Add your first car</h2>
    <P no-lines>Please, no Lorries, Vans or Larger vehicles </P>
    <ion-item>
      <ion-label floating>Licence Plate Number</ion-label>
      <ion-input required type="text" formControlName="licencePlateNumber"
                 [(ngModel)]="carModel.licencePlateNumber"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="carFormErrors.licencePlateNumber">
      {{ carFormErrors.licencePlateNumber }}
    </ion-item>

    <ion-item>
      <ion-label>Car Type</ion-label>
      <ion-select class="override-select-height" interface="action-sheet"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="carModel.type">
        <ion-option value="{{carTypeEnum.SEDAN}}">{{carTypeEnum.SEDAN}}</ion-option>
        <ion-option value="{{carTypeEnum.SUV}}">{{carTypeEnum.SUV}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Brand & Model</ion-label>
      <ion-input required type="text" formControlName="brandModel"
                 [(ngModel)]="carModel.brandModel"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="carFormErrors.brandModel">
      {{ carFormErrors.brandModel }}
    </ion-item>

    <ion-item>
      <ion-label floating>Colour</ion-label>
      <ion-input required type="text" formControlName="colour"
                 [(ngModel)]="carModel.colour"></ion-input>
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="carFormErrors.colour">
      {{ carFormErrors.colour }}
    </ion-item>
  </form>

  <ion-item no-lines *ngIf="isOnLogin">
    <button ion-button block large padding
            [disabled]="loginForm.invalid"
            (tap)="loginForm.valid && login()">
      Login
    </button>
  </ion-item>

  <ion-item no-lines *ngIf="isOnLogin">
    <button ion-button block large clear color="dark" (tap)="resetPassword()">Forgotten password</button>
  </ion-item>

  <ion-item no-lines *ngIf="isOnLogin">
    <button ion-button block large outline (tap)="loginFacebook()">Login with Facebook</button>
  </ion-item>

  <ion-item no-lines *ngIf="!isOnLogin">
    <button ion-button block large padding
            [disabled]="signUpForm.invalid && carForm.invalid"
            (tap)="signUpForm.valid && carForm.valid && signUp()">
      Sing up
    </button>
  </ion-item>

  <ion-item no-lines *ngIf="isOnLogin">
    <button ion-button block large padding outline color="dark" (tap)="signUp()">Sing up</button>
  </ion-item>

  <ion-item no-lines *ngIf="!isOnLogin">
    <button ion-button block large padding outline color="dark" (tap)="login()">Back to Login</button>
  </ion-item>

</ion-content>
