
page-add-car {

  .loading-picture {
    position: relative;
    left: -25px;
    width: 25px;
    height: 25px;
  }

  .lbl-indent {
    position: relative;
    left: -25px;
  }

  .lbl-pick-picture {
    margin-right: 60px;
  }

  .item-lbl-pick-picture {
    .input-wrapper {
      overflow: hidden;
    }
  }

  .mandatory {
    color: red;
  }

  .input-border {
    border: solid black 1px !important;
    //border-radius: 5px !important;
  }


}
