<ion-header>
  <ion-navbar>
    <ion-title>Add/Edit Car Park</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-searchbar auto-complete placeholder="Car Park Code" max-num-list="20" accept-user-input="false"
                   [list-formatter]="getCarParkCode"
                   autocomplete="off" tabindex=-1 (valueChanged)="carParkAddressSelected()"
                   value-property-name="_id" display-property-name="car_park_no"
                   [(ngModel)]="selectedCarPark" [source]="getCarParkCodes.bind(this)"></ion-searchbar>

    <ion-item class="item-lbl-pick-picture" (tap)="startPickPicture()">
      <ion-label class="lbl-pick-picture">
        Tap to pick Picture <span class="mandatory"> *</span>
      </ion-label>
      <ion-avatar item-right>
        <img *ngIf="selectedPicture" [src]="selectedPicture">
        <ion-spinner *ngIf="isPictureLoading"></ion-spinner>
      </ion-avatar>
    </ion-item>

    <div>
      <ion-item class="input-border">
        <ion-input required type="text" tabindex=-1
                   placeholder="Address"
                   [(ngModel)]="selectedAddress"></ion-input>
      </ion-item>
    </div>

    <br>

    <ion-searchbar auto-complete placeholder="Select Manager" max-num-list="20" accept-user-input="false"
                   [list-formatter]="getManagerName" tabindex=-1 autocomplete="off"
                   value-property-name="uid" display-property-name="name"
                   [(ngModel)]="selectedSupervisor" [source]="supervisors"></ion-searchbar>

    <ion-item no-lines class="btns-dialog">
      <button ion-button clear large (tap)="cancel()">
        Cancel
      </button>
      <button ion-button clear large
              [disabled]="!selectedCarPark?.car_park_no || !selectedAddress"
              (tap)="selectedCarPark?.car_park_no && selectedAddress && save()">
        Save
      </button>
    </ion-item>
  </ion-list>

</ion-content>
