history-car-park {

  .card-header-layout {
    display: flex;
    justify-content: space-between;
  }

  .multi-line {
    white-space: pre-line;
  }

  .center-vertical {
    align-self: center;
  }

}
