job-item {

  .noDisplay {
    display: none;
  }

  .bg-color {
    background-color: #f8f5f0;
  }

  .bold {
    font-weight: bold;
  }

  .flex-sb {
    display: flex;
    justify-content: space-between;
  }

  .margin-bottom10 {
    margin-bottom: 10px;
  }

  .car-plate-number {
    font-size: 20px;
  }

  .car-park-no {
    font-size: 17px;
  }

  .lot-no {
    font-size: 17px;
  }

  .square-avatar {
    border-radius: 0px;
    box-shadow: inherit;
    img {
      border-radius: 5px;
    }
  }

  .no-padding-left {
    padding-left: 0px;
  }

  ion-item-options {
    button  {
      border-radius: 0px !important;
    }
  }

  ion-item-sliding {
    margin-bottom: 10px;
    ion-item {
      padding: 0px !important;
    }
  }

  ion-avatar {
    img {
      width: 62px !important;
      height: 62px !important;
    }
  }

}
