<ion-item-sliding #slidingItem
                  [ngClass]="{noDisplay: car.subscription.days[dayIndex].job.jobState === jobStateEnum.rejected
                                      || car.subscription.days[dayIndex].washStatus === washStateEnum.washed}">
  <ion-item class="bg-color">

    <ion-avatar item-left class="square-avatar no-padding-left">
      <img [src]="car.picture">
    </ion-avatar>
    <ion-label class="margin0">
      <h2 class="margin0 flex-sb">
        <span class="car-plate-number bold">{{ car.licencePlateNumber }}</span>
        <span>{{ car.subscription.days[dayIndex].job.assignmentDate | date: 'HH:mm' }}</span>
      </h2>
      <p class="lot-no">Lot No: <span class="bold">{{ car.subscription.days[dayIndex].carParkLotNumber }}</span></p>
    </ion-label>
  </ion-item>

  <ion-item-options side="right">
    <button ion-button color="primary"
            *ngIf="car.subscription.days[dayIndex].job.jobState === jobStateEnum.notAnswered"
            (click)="slidingItem.close() || accept()">
      Accept
    </button>
    <button ion-button color="secondary"
            *ngIf="car.subscription.days[dayIndex].job.jobState === jobStateEnum.accepted"
            (click)="slidingItem.close() || selectAsWashed()">
      Washed
    </button>
  </ion-item-options>
  <ion-item-options side="left">
    <button ion-button color="danger"
            *ngIf="car.subscription.days[dayIndex].job.jobState === jobStateEnum.notAnswered"
            (click)="slidingItem.close() || reject()">
      Reject
    </button>
    <button ion-button color="danger"
            *ngIf="car.subscription.days[dayIndex].job.jobState === jobStateEnum.accepted"
            (click)="slidingItem.close() || notifyNotFound()">
      Not<br>Found
    </button>
  </ion-item-options>
</ion-item-sliding>

