
page-edit-car {

  //.loading-picture {
  //  position: relative;
  //  left: -25px;
  //  width: 25px;
  //  height: 25px;
  //}

  .text-center {
    text-align: center;
  }

  .center-element {
    display: flex;
    justify-content: center;
  }

  .btns-dialog {
    display: flex;
    justify-content: flex-end;
  }

  .car-picture-max-size {
    height: 200px;
  }

  .fit-picture {
    object-fit: contain;
  }

  .no-padding {
    padding: 0px;
  }

  .margin-top20 {
    margin-top: 20px;
  }

  .margin-right20 {
    margin-right: 20px;
  }

  .margin0 {
    margin: 0px;
  }

  .row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .select-color-position {
    margin-left: 20px;
    margin-top: 5px;
  }

  .color-box-position {
    margin-right: 20px;
    margin-top: 5px;
  }

  .color-box-size {
    width: 32px;
    height: 32px;
  }

  .color-box-border {
    border: black solid 1px;
  }

  .autocomplete-input {
    border: 0px !important;
    background: inherit !important;
    border-radius: 0px !important;
    input {
      box-shadow: 0px 0px !important;
      background: #ECF0F1 !important;
      border-radius: 0px !important;
      padding: 0px 0px 0px 35px !important;
      height: 46px !important;
    }
  }
  .searchbar-clear-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel, .searchbar-ios .searchbar-ios-cancel {
    left: 3px;
  }
  .searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon {
    // this path is correct for web emultion and real device
    background-image: url('../assets/icon/Marker-50.png');
    top: 11px;
    left: 8px;
    width: 25px;
    height: 25px;
    background-size: 23px;
  }
}
