<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only clear class="btn-icon-style"
              (tap)="cancel()">
        <img src="assets/icon/Back-32.png">
      </button>
    </ion-buttons>
    <ion-title text-center>{{ title }}</ion-title>
    <ion-buttons right>
      <div class="btn-icon-style"></div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="carForm">

    <div class="center-element car-picture-max-size">
      <img class="fit-picture " (tap)="startPickPicture()" [src]="selectedPicture">
      <ion-spinner *ngIf="isPictureLoading"></ion-spinner>
    </div>


    <div>
      <ion-item class="input-border margin-top20">
        <ion-input required type="text" placeholder="Licence Plate Number"
                   formControlName="licencePlateNumber"></ion-input>
      </ion-item>
    </div>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="formErrors.licencePlateNumber">
      {{ formErrors.licencePlateNumber }}
    </ion-item>

    <div class="row-input margin-top20">
      <div>
        <ion-item class="input-border margin-right20">
          <ion-input required type="text" placeholder="Brand"
                     formControlName="brand"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item class="input-border">
          <ion-input required type="text" placeholder="Model"
                     formControlName="model"></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="formErrors.brand">
      {{ formErrors.brand }}
    </ion-item>
    <ion-item no-lines class="center-input alert alert-danger" *ngIf="formErrors.model">
      {{ formErrors.model }}
    </ion-item>

    <div class="row-input margin-top20">
      <ion-item class="margin-right20">
        <ion-label class="margin0" (tap)="selectSilhouette()">
          <img *ngIf="selectedType === silhouetteEnum.sedan" src="assets/picture/sedan.jpg">
          <img *ngIf="selectedType === silhouetteEnum.suv" src="assets/picture/suv.jpg">
          <div *ngIf="!selectedType">Select Car Type</div>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="margin0" (tap)="selectColour()">
          <!--<colour-select [value]="selectedColour" (selectValueEvent)="setSelectedColour($event)"></colour-select>-->
          <div *ngIf="selectedColour" class="color-box-size color-box-border"
               [ngStyle]="{backgroundColor: selectedColour}"></div>
          <div *ngIf="!selectedColour">
            Select Colour
          </div>
        </ion-label>
      </ion-item>
    </div>
  </form>


  <P class="text-center">Please make sure the picture of your vehicle and plate number are clear and visible.</P>

  <ion-item no-lines>
    <ion-label class="btns-dialog">
      <button ion-button icon-only large clear [disabled]="carForm.invalid" (tap)="carForm.valid && save()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-label>
  </ion-item>

</ion-content>
