
page-profile {

  .check-btn-space {
    margin-left: 10px
  }

  ion-avatar {
    width: 90px;
    height: 90px;

    margin-top: 1px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;

    img {
      width: 85px !important;
      height: 85px !important;
      //width: 60px !important;
      //height: 60px !important;
      //border-radius: 0px !important;
    }
  }

}

