<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button clear large *ngIf="!editMode"
              (tap)="toggleEditMode(true)">
        <ion-icon><i class="material-icons">mode_edit</i></ion-icon>
        Edit Profile
      </button>
      <button ion-button clear large icon-only *ngIf="editMode"
              (tap)="toggleEditMode(false)">
        <ion-icon><i class="material-icons">cancel</i></ion-icon>
      </button>
      <button ion-button clear large icon-only class="check-btn-space" *ngIf="editMode"
              [disabled]="!profileForm.valid"
              (tap)="profileForm.valid && saveUserInfo()">
        <ion-icon><i class="material-icons">check_circle</i></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="profileForm" class="center-form-items">
    <div class="form-style">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input required type="text"
                   formControlName="name"
                   [disabled]="!editMode"
                   value="{{user.name}}"></ion-input>
      </ion-item>
      <ion-item class="alert alert-danger" *ngIf="formErrors.name">
        {{ formErrors.name }}
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input required type="email"
                   formControlName="email"
                   [disabled]="!editMode"
                   value="{{user.email}}"></ion-input>
      </ion-item>
      <ion-item class="alert alert-danger" *ngIf="formErrors.email">
        {{ formErrors.email }}
      </ion-item>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input required type="email"
                   formControlName="address"
                   [disabled]="!editMode"
                   value="{{user.address}}"></ion-input>
      </ion-item>
      <ion-item class="alert alert-danger" *ngIf="formErrors.address">
        {{ formErrors.address }}
      </ion-item>

      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input required type="text"
                   formControlName="phoneNumber"
                   [disabled]="!editMode"
                   value="{{user.phoneNumber}}"></ion-input>
      </ion-item>
      <ion-item class="alert alert-danger" *ngIf="formErrors.phoneNumber">
        {{ formErrors.phoneNumber }}
      </ion-item>
    </div>
  </form>

</ion-content>
