<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Tap To Wash</ion-title>
    <ion-buttons right>
      <button ion-button icon-only clear class="btn-icon-style" (tap)="showNotifications()">
        <img class="margin-left" src="assets/icon/AppointmentRemindersFilled-30.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-jobs">

  <div class="bg-white" *ngIf="currentUser.profile === profileTypeEnum.washer">
    <profile-information [currentUser]="currentUser"></profile-information>
    <!--<ion-item no-lines class="padding1">-->
    <!--<ion-avatar item-left class="profile-avatar square-avatar">-->
    <!--<img *ngIf="currentUser" [src]="currentUser.picture">-->
    <!--</ion-avatar>-->
    <!--<ion-label class="margin0">-->
    <!--<div class="flex-row margin0">-->
    <!--<img class="profile-icon" src="assets/icon/ContactCardFilled-50.png">-->
    <!--<span class="flex-column-center">{{currentUser.name}}</span>-->
    <!--</div>-->
    <!--<div class="flex-row margin0">-->
    <!--<img class="profile-icon" src="assets/icon/MessageFilled-50.png">-->
    <!--<span class="flex-column-center">{{currentUser.email}}</span>-->
    <!--</div>-->
    <!--<div class="flex-row margin0">-->
    <!--<img class="profile-icon" src="assets/icon/Phone-48.png">-->
    <!--<span class="flex-column-center">{{currentUser.phoneNumber}}</span>-->
    <!--</div>-->
    <!--<div class="flex-row margin0">-->
    <!--<img class="profile-icon" src="assets/icon/ZipCodeFilled-50.png">-->
    <!--<span class="flex-column-center">{{currentUser.address}}</span>-->
    <!--</div>-->
    <!--</ion-label>-->
    <!--</ion-item>-->
    <ion-grid *ngIf="currentUser.profile === profileTypeEnum.washer">
      <ion-row>
        <ion-col>
          <!--<ion-item class="ion-item-input ion-input-slim">-->
          <!--<ion-input placeholder="Enter your carpark location"-->
          <!--[(ngModel)]="searchCarPark"></ion-input>-->
          <!--</ion-item>-->

          <ion-searchbar auto-complete class="autocomplete-input" type="text" showCancelButton="true"
                         accept-user-input="false" autocomplete="off" tabindex="-1"
                         value-property-name="_id" display-property-name="address"
                         placeholder="Enter your carpark location" max-num-list="20"
                         [list-formatter]="getCarParkAddress" (valueChanged)="carParkSelected()"
                         [(ngModel)]="searchCarPark" [source]="getCarParks.bind(this)"></ion-searchbar>
        </ion-col>
        <ion-col class="toggle-size padding1 flex-column-center">
          <ion-toggle mode="ios" [(ngModel)]="currentUser.isOnVacation" (ionChange)="updateWasherWorkingCarPark()"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="divider"></div>
  </div>

  <p *ngIf="currentUser?.profile === profileTypeEnum.client">Swipe left the vehicle you would like us to clean:</p>

  <div padding class="center-text"
       *ngIf="currentUser?.profile === profileTypeEnum.client && currentUser.cars.length === 0">
    <i class="material-icons no-car-icon">sentiment_very_dissatisfied</i>
    <p class="no-vehicle-found">Oops sorry, currently you have no vehicle registered yet.</p>
  </div>

  <ion-list padding *ngIf="currentUser.profile === profileTypeEnum.client">
    <div *ngFor="let car of currentUser.cars">
      <app-car-item [car]="car"></app-car-item>
      <br>
    </div>
  </ion-list>

  <div class="" *ngIf="currentUser.profile === profileTypeEnum.washer">
    <div class="title-activities">Available Task:</div>
    <ion-list>
      <job-item *ngFor="let car of currentUser.cars" [car]="car"></job-item>
    </ion-list>
    <div></div>
  </div>

  <swiper [config]="configCarousel" #usefulSwiper
          *ngIf="currentUser?.profile
                && (currentUser.profile === profileTypeEnum.manager || currentUser.profile === profileTypeEnum.supervisor)">
    <!------------ Manager's car parks list ------------>
    <div class="swiper-wrapper" *ngIf="currentUser.profile === profileTypeEnum.supervisor">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of currentUser.carParks"
                         [carPark]="carPark" (toRemove)="removeCarPark($event)"></app-car-park-item>
    </div>
    <!------------ All car parks, admin can manage them all ------------>
    <div class="swiper-wrapper" *ngIf="currentUser.profile === profileTypeEnum.manager">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of carParks"
                         [carPark]="carPark" (toRremove)="removeCarPark($event)"></app-car-park-item>
    </div>

    <div class="swiper-pagination"></div>
  </swiper>

  <ion-fab bottom right (tap)="addCarPark()"
           *ngIf="currentUser.profile === profileTypeEnum.manager">
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

