<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Car Park Wash System</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="user?.profile === profileTypeEnum.admin">
    <form [formGroup]="announcementForm">
      <ion-item>
        <ion-label floating>Announcement</ion-label>
        <ion-input type="text" formControlName="announcement"></ion-input>
      </ion-item>
    </form>
    <ion-row>
      <button ion-button block large clear padding (tap)="resetAnnouncement()">Reset</button>
      <button ion-button block large clear padding (tap)="saveAnnouncement()">Save</button>
    </ion-row>
  </div>

  <ion-item no-lines class="announcement-wrapper" margin-bottom
            *ngIf="user?.profile !== profileTypeEnum.admin && announcement">
    <ion-label class="announcement-animation">{{announcement}}</ion-label>
  </ion-item>

  <app-car-park-filter *ngIf="user?.profile === profileTypeEnum.cleaner"
                       (onFilterCarParks)="getCarParksFilter($event)"></app-car-park-filter>

  <swiper [config]="configCarousel" #usefulSwiper *ngIf="user?.profile && user.profile !== profileTypeEnum.admin">
    <!------------ Client's cars list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.client">
      <app-car-item class="swiper-slide" *ngFor="let car of user.cars"
                    [car]="car" (removed)="updateUserFromDatabase()"></app-car-item>
    </div>
    <!------------ Manager's car parks list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.manager">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of user.carParks"
                         [carPark]="carPark" (removed)="updateUserFromDatabase()"></app-car-park-item>
    </div>
    <!------------ Cleaner car parks to select then select a car to wahs ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.cleaner">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of carParks"
                         [carPark]="carPark"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!--<div class="swiper-button-next"-->
         <!--*ngIf="(user.profile === profileTypeEnum.client && user.cars?.length > 1)-->
             <!--|| (user.profile === profileTypeEnum.manager && user.carParks?.length > 1)-->
             <!--|| (user.profile === profileTypeEnum.cleaner && carParks?.length > 1)"></div>-->
    <!--<div class="swiper-button-prev"-->
         <!--*ngIf="(user.profile === profileTypeEnum.client && user.cars?.length > 1)-->
             <!--|| (user.profile === profileTypeEnum.manager && user.carParks?.length > 1)-->
             <!--|| (user.profile === profileTypeEnum.cleaner && carParks?.length > 1)"></div>-->
  </swiper>

  <ion-fab bottom right (tap)="add()"
           *ngIf="user?.profile === profileTypeEnum.client || user.profile === profileTypeEnum.manager">
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
