page-home {

  ion-avatar {
    //width: 72px;
    //height: 72px;

    margin-top: 1px !important;
    margin-bottom: 5px !important;

    display: flex;
    justify-content: center;
    align-items: center;

    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  }

  .icon-lbl {
    font-size: 26px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  .toggle-size {
    max-width: 55px;
  }

  .center-text {
    text-align: center;
  }

  .no-vehicle-found {
    color: red;
  }

  .no-car-icon {
    font-size: 50px;
  }

  .title-activities {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: medium;
  }

  .item-block {
    min-height: 2rem;
  }

  .autocomplete-input {
    border: 0px !important;
    background: inherit !important;
    border-radius: 0px !important;
    input {
      box-shadow: 0px 0px !important;
      background: #ECF0F1 !important;
      border-radius: 0px !important;
      padding: 0px 0px 0px 35px !important;
    }
  }
  .searchbar-clear-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel, .searchbar-ios .searchbar-ios-cancel {
    left: 3px;
  }
  .searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon {
    // this path is correct for web emultion and real device
    background-image: url('../assets/icon/MarkerFilled-50.png');
    top: 5px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }

  .divider {
    height: 1px;
    background-color: #f3cd3c;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bg-white {
    background-color: white;
  }

  .bg-jobs {
    background-color: #f1e8e1;
  }

}

@keyframes scroll-to-left {
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(-100%, 0px);
  }
}

@-moz-keyframes scroll-to-left {
  0% {
    -moz-transform: translate(100%, 0px);
  }
  100% {
    -moz-transform: translate(-100%, 0px);
  }
}

@-webkit-keyframes scroll-to-left {
  0% {
    -webkit-transform: translate(100%, 0px);
  }
  100% {
    -webkit-transform: translate(-100%, 0px);
  }
}

@-o-keyframes scroll-to-left {
  0% {
    -o-transform: translate(100%, 0px);
  }
  100% {
    -o-transform: translate(-100%, 0px);
  }
}

@-ms-keyframes scroll-to-left {
  0% {
    -ms-transform: translate(100%, 0px);
  }
  100% {
    -ms-transform: translate(-100%, 0px);
  }
}
