page-support {

  .btn-call-style {
    color: white;
    background-color: #c0372b;
  }

  .text-area-border {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
  }

  .margin-top15 {
    margin-top: 15px;
  }

  .icon-margin {
    margin-top: 7px !important;
    margin-left: 7px !important;
  }

  .icon-size {
    width: 32px;
    margin: 0px;
  }

  .flex-h-center {
    display: flex;
    justify-content: center;
  }

  .bg-textarea {
    background-color: #f1e8e1;
  }

  .margin-top0 {
    margin-top: 0px;
  }

  .txt-description {
    font-size: 15px;
  }

}

