<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subscriptions History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!selectedClient && !selectedHistory">
    <ion-card-header>Client List</ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item class="no-car-park-yet" *ngIf="clients?.length === 0">
          <h2>No Client registered yet</h2>
        </ion-item>

        <ion-item *ngFor="let client of clients">
          <div (tap)="selectClient(client)">{{client.name}}</div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedClient && !selectedHistory">
    <ion-card-header class="card-header-layout">
      <span>{{selectedClient.name}}'s Subscriptions</span>
      <ion-icon name="ios-close-circle-outline" (tap)="unSelectClient()"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let history of histories" (tap)="selectHistory(history)">
          <span>{{history.dateSubscription | date}}</span>
          <span>{{history.car.licencePlateNumber}} - {{history.car.brandModel}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedClient && selectedHistory">
    <ion-card-header class="card-header-layout">
      <span>{{selectedClient.name}}'s Subscriptions</span>
      <ion-icon name="ios-close-circle-outline" (tap)="unSelectClient()"></ion-icon>
    </ion-card-header>
    <ion-card-header class="card-header-layout">
      <span>On {{selectedHistory.dateSubscription | date}}</span>
      <ion-icon name="ios-close-circle-outline" (tap)="unSelectHistory()"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="days-list">
        <ion-item *ngFor="let day of selectedHistory.days">
          <span>The day index: {{day.id}}</span>
          <h3>Wash Status: {{day.washStatus | camelCase}}</h3>
          <span *ngIf="day?.washRequestDate">Wash Request Time {{day.washRequestDate | date:'HH:mm:ss'}}</span>
          <span *ngIf="day?.washDate">Wash time: {{day.washDate | date:'HH:mm:ss'}}</span>
          <span *ngIf="day?.cleanerName">Cleaner Name: {{day.cleanerName}}</span>
          <span *ngIf="day?.carParkLotNumber">Car Park Lot Number: {{day.carParkLotNumber}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
