// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toastInfo div {
  background: #327eff !important;
  border-radius: 5px 5px 0px 0px !important;
  text-align: center;
}

.toastError div {
  background: #ff4409 !important;
  border-radius: 5px 5px 0px 0px !important;
  text-align: center;
}

.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: #32db64;
  box-shadow: inset 0 -1px 0 0 #32db64;
}

.item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: #387ef5;
  box-shadow: inset 0 -1px 0 0 #387ef5;
}

.alert {
  white-space: pre-line;
  margin-top: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 5px;
}

.alert .md-list-item {
  height: inherit;
}

.alert ion-label{
  white-space: normal;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

//.swiper-wrapper {
//  height: 510px;
//}
//
//.swiper-wrapper-car {
//  height: 350px;
//}
//
//.swiper-wrapper-carpark {
//  height: 510px;
//}
