<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Manager/Cleaner account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="signUpForm">
    <ion-item>
      <ion-label>Connect With</ion-label>
      <ion-select required class="override-select-height override-select-padding" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="connectEmailNoFacebook">
        <ion-option value="true">Email & Password</ion-option>
        <ion-option value="false">Facebook</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Email</ion-label>
      <ion-input required type="text"
                 formControlName="email"
                 [(ngModel)]="userModel.email"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.email">
      {{ signUpFormErrors.email }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Password</ion-label>
      <ion-input required type="password"
                 formControlName="password"
                 [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.password">
      {{ signUpFormErrors.password }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input required type="password"
                 formControlName="confirmPassword"
                 [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.confirmPassword">
      {{ signUpFormErrors.confirmPassword }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Name</ion-label>
      <ion-input required type="text"
                 formControlName="name"
                 [(ngModel)]="userModel.name"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.name">
      {{ signUpFormErrors.name }}
    </ion-item>
  </form>

  <form [formGroup]="userInfoForm">
    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label floating>Address</ion-label>
      <ion-input required type="text"
                 formControlName="address"
                 [(ngModel)]="userModel.address"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="userInfoFormErrors.address">
      {{ userInfoFormErrors.address }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label floating>Phone Number</ion-label>
      <ion-input required type="text"
                 formControlName="phoneNumber"
                 [(ngModel)]="userModel.phoneNumber"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="userInfoFormErrors.phoneNumber">
      {{ userInfoFormErrors.phoneNumber }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label>Account Type</ion-label>
      <ion-select required class="override-select-height override-select-padding"
                  formControlName="profile"
                  [(ngModel)]="userModel.profile">
        <!--<ion-option value={{profileTypeEnum.client}}>Client</ion-option>-->
        <ion-option value="{{profileEnum.manager}}">Car park Manager</ion-option>
        <ion-option value="{{profileEnum.cleaner}}">Cleaner</ion-option>
      </ion-select>
    </ion-item>
  </form>

  <form [formGroup]="carParkForm" *ngIf="userModel.profile === profileEnum.manager">
    <br>
    <h2>Add the first car park</h2>
    <ion-item>
      <ion-label floating>Car park Name</ion-label>
      <ion-input required type="text"
                 formControlName="carParkName"
                 [(ngModel)]="carParkModel.name"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="carParkFormErrors.name">
      {{ carParkFormErrors.name }}
    </ion-item>


    <ion-item (tap)="pickCarParkPicture()">
      <ion-label class="lbl-pick-picture">
        Click to pick a Picture<span class="mandatory">*</span>
      </ion-label>
      <ion-avatar item-right>
        <img *ngIf="carParkToEdit?.picture" [src]="carParkToEdit.picture">
        <ion-spinner *ngIf="isPictureLoading"></ion-spinner>
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>Region</ion-label>
      <ion-select required class="override-select-height override-select-padding"
                  formControlName="region"
                  [(ngModel)]="carParkModel.region">
        <ion-option value="{{regionEnum.central}}">{{regionEnum.central | camelCase}}</ion-option>
        <ion-option value="{{regionEnum.east}}">{{regionEnum.east | camelCase}}</ion-option>
        <ion-option value="{{regionEnum.north}}">{{regionEnum.north | camelCase}}</ion-option>
        <ion-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</ion-option>
        <ion-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Area</ion-label>
      <ion-input required type="text"
                 formControlName="area"
                 [(ngModel)]="carParkModel.area"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="carParkFormErrors.area">
      {{ carParkFormErrors.area }}
    </ion-item>

    <ion-item>
      <ion-label floating>Car park Address</ion-label>
      <ion-input required type="text"
                 formControlName="address"
                 [(ngModel)]="carParkModel.address"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="carParkFormErrors.address">
      {{ carParkFormErrors.address }}
    </ion-item>
    <!--<ion-item>-->
    <!--<ion-input type="number" required-->
    <!--[dividerColor]="carParkFormErrors.nbPlaces?'accent':'primary'"-->
    <!--placeholder="Number of parks"-->
    <!--formControlName="nbPlaces"-->
    <!--[(ngModel)]="carParkModel.nbPlaces"></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item class="alert alert-danger" *ngIf="carParkFormErrors.nbPlaces">-->
    <!--{{ carParkFormErrors.nbPlaces }}-->
    <!--</ion-item>-->
  </form>

  <form [formGroup]="cleanerForm" *ngIf="userModel.profile === profileEnum.cleaner">
  </form>

  <button ion-button block large padding
          [disabled]="!areInputsValid()"
          (click)="areInputsValid()&& createAccount()">Create {{userModel.profile}}
  </button>

</ion-content>
