<ion-header>
  <ion-navbar>
    <button ion-button menuToggle large>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Supervisor/Washer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <form [formGroup]="signUpForm">
    <ion-item>
      <ion-label>Connect With</ion-label>
      <ion-select required class="override-select-height override-select-padding" interface="action-sheet"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="connectEmailNoFacebook">
        <ion-option value="true">Email & Password</ion-option>
        <ion-option value="false">Facebook</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Email</ion-label>
      <ion-input required type="text"
                 formControlName="email"
                 [(ngModel)]="userModel.email"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.email">
      {{ signUpFormErrors.email }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Password</ion-label>
      <ion-input required type="password"
                 formControlName="password"
                 [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.password">
      {{ signUpFormErrors.password }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input required type="password"
                 formControlName="confirmPassword"
                 [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.confirmPassword">
      {{ signUpFormErrors.confirmPassword }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook === 'true'">
      <ion-label floating>Name</ion-label>
      <ion-input required type="text"
                 formControlName="name"
                 [(ngModel)]="userModel.name"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="signUpFormErrors.name">
      {{ signUpFormErrors.name }}
    </ion-item>
  </form>

  <form [formGroup]="userInfoForm">
    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label floating>Address</ion-label>
      <ion-input required type="text"
                 formControlName="address"
                 [(ngModel)]="userModel.address"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="userInfoFormErrors.address">
      {{ userInfoFormErrors.address }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label floating>Phone Number</ion-label>
      <ion-input required type="text"
                 formControlName="phoneNumber"
                 [(ngModel)]="userModel.phoneNumber"></ion-input>
    </ion-item>
    <ion-item no-lines class="alert alert-danger" *ngIf="userInfoFormErrors.phoneNumber">
      {{ userInfoFormErrors.phoneNumber }}
    </ion-item>

    <ion-item *ngIf="connectEmailNoFacebook !== undefined">
      <ion-label>Account Type</ion-label>
      <ion-select required class="override-select-height override-select-padding" interface="action-sheet"
                  formControlName="profile"
                  [(ngModel)]="userModel.profile">
        <ion-option value="{{profileEnum.supervisor}}">Car park Supervisor</ion-option>
        <ion-option value="{{profileEnum.washer}}">Washer</ion-option>
      </ion-select>
    </ion-item>
  </form>

  <button ion-button block large padding margin-top
          [disabled]="!areInputsValid()"
          (click)="areInputsValid()&& createAccount()">Create {{userModel.profile}}
  </button>

</ion-content>
