history-client {

  .card-header-layout {
    display: flex;
    justify-content: space-between;
  }

  .multi-line {
    white-space: pre-line;
  }

  .center-vertical {
    align-self: center;
  }

  .separator {
    margin-bottom: 10px;
    border-bottom: solid 1px;
  }
}
