<ion-card class="column-center">
  <ion-card-header>{{carPark.code}}</ion-card-header>

  <img class="car-picture" *ngIf="carPark.picture" [src]="carPark.picture">

  <ion-card-content>
    <ion-item>Address: {{carPark.address}}</ion-item>

    <ion-row class="btn-action-layout" *ngIf="!isSelected
        && (currentUser?.profile === profileTypeEnum.admin
            ||(currentUser?.profile === profileTypeEnum.manager
            || currentUser?.profile === profileTypeEnum.client))">
      <button ion-button clear color="primary" (tap)="select()"
              *ngIf="currentUser.profile === profileTypeEnum.cleaner">
        Cars in
      </button>
      <!-- Client should see car park only if he clicked on subscribe of his car -->
      <button ion-button clear color="primary" (tap)="subscribeWashService()"
              *ngIf="currentUser.profile === profileTypeEnum.client">
        Subscribe
      </button>
      <button ion-button clear color="primary" (click)="getCarsSubscribed()"
              *ngIf="currentUser.profile === profileTypeEnum.manager || currentUser.profile === profileTypeEnum.admin">
        Cars Subscribed
      </button>
    </ion-row>
    <ion-row *ngIf="!isSelected
          && (currentUser.profile === profileTypeEnum.manager || currentUser.profile === profileTypeEnum.admin)">
      <button ion-button clear color="dark" (tap)="edit()">Edit</button>
      <button ion-button clear color="dark" (tap)="remove()">Remove</button>
    </ion-row>

  </ion-card-content>

</ion-card>
