<h2>Filter car parks by areas</h2>

<ion-item class="center-input">
  <ion-label>Region</ion-label>
  <ion-select interface="action-sheet" (ionChange)="getAreasByPart()"
              [(ngModel)]="selectedCarParkFilter.region">
    <ion-option value={{regionEnum.central}}>{{regionEnum.central | camelCase}}</ion-option>
    <ion-option value={{regionEnum.east}}>{{regionEnum.east | camelCase}}</ion-option>
    <ion-option value={{regionEnum.north}}>{{regionEnum.north | camelCase}}</ion-option>
    <ion-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</ion-option>
    <ion-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</ion-option>
  </ion-select>
</ion-item>

<ion-item class="center-input" *ngIf="areasOfRegion?.length > 0">
  <!--<ion-input type="text" placeholder="Area" style="z-index: 5;"-->
  <!--[(ngModel)]="areaFilter" (keyup)="filterAreas()"></ion-input>-->
  <ion-label>Area</ion-label>
  <ion-select interface="action-sheet" [(ngModel)]="selectedCarParkFilter.area">
    <ion-option *ngFor="let area of areasOfRegion" value={{area}}>{{area | camelCase}}</ion-option>
  </ion-select>
</ion-item>

<ion-item no-lines>
  <button ion-button large color="primary"
          [disabled]="selectedCarParkFilter.region === undefined"
          (click)="filterCarParks()">Filter Car Parks
  </button>
</ion-item>
