<ion-card>
  <ion-card-header>Filter Car Parks</ion-card-header>

  <ion-card-content>
    <ion-segment class="override-segment-height" [(ngModel)]="filterBy">
      <ion-segment-button value="{{filterByEnum.code}}">By Code</ion-segment-button>
      <ion-segment-button value="{{filterByEnum.area}}">By Area</ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="filterBy">
      <form [formGroup]="codeFielterForm" *ngSwitchCase="filterByEnum.code">
        <ion-list>
          <ion-item>
            <ion-label floating>Car park Code</ion-label>
            <ion-input type="text" formControlName="carParkCode"
                       [(ngModel)]="carParkFilter.code"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <form [formGroup]="areaFielterForm" *ngSwitchCase="filterByEnum.area">
        <ion-list>
          <ion-item margin-top>
            <ion-label>Region</ion-label>
            <ion-select interface="action-sheet" (ionChange)="getAreasByRegion()"
                        formControlName="carParkRegion"
                        [(ngModel)]="carParkFilter.region">
              <ion-option value={{regionEnum.central}}>{{regionEnum.central | camelCase}}</ion-option>
              <ion-option value={{regionEnum.east}}>{{regionEnum.east | camelCase}}</ion-option>
              <ion-option value={{regionEnum.north}}>{{regionEnum.north | camelCase}}</ion-option>
              <ion-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</ion-option>
              <ion-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="areasOfRegion?.length > 0">
            <ion-label>Area</ion-label>
            <ion-select interface="action-sheet"
                        formControlName="carParkArea"
                        [(ngModel)]="carParkFilter.area">
              <ion-option *ngFor="let area of areasOfRegion" value={{area}}>{{area | camelCase}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </form>
    </div>

    <ion-row>
      <button ion-button large clear
              [disabled]="filterBy === filterByEnum.code ? codeFielterForm.invalid : areaFielterForm.invalid"
              (click)="(filterBy === filterByEnum.code ? codeFielterForm.valid : areaFielterForm.valid)
              && filterCarParks()">
        Filter Car Parks
      </button>
    </ion-row>

  </ion-card-content>
</ion-card>
